<div class="input-field">
  <label for="<%= id %>"> <%= label %> </label>
  <input
    class="styled"
    type="<%= type %>"
    name="<%= id %>"
    id="<%= id %>"
    placeholder="<%= placeholder %>"
  />
</div>
