<li class="message <%= showMessageLinks ? 'interactive' : '' %>">
  <p class="author"><%= message.user %></p>
  <p class="date">
    <time datetime="<%= message.added %>"
      ><%= message.added.toLocaleString() %></time
    >
  </p>
  <p class="text"><%= message.text %></p>
  <% if (showMessageLinks) { %>
  <a href="/<%= message.id %>" class="link" aria-label="open"></a>
  <% } %>
</li>
